/* Base */
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  padding: 50px;
}
.page_wrap {
  width: 100%;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  font-weight: 100;
}
h1 strong {
  font-weight: 700;
}
p.text {
  display: inline-block;
  font-family: 'LMRomanSlant10', serif;
  font-size: 18px;
}
a {
  text-decoration: none;
  height: 100%;
}
.container {
  height: 749px;
  margin-bottom: 50px;
}
.letter_a {
  padding-left: 9px;
  position: absolute;
}
.letter_a img {
  opacity: .05;
}
.letter_p {
  padding-left: 94px;
  position: absolute;
}
.letter_p img {
  opacity: .05;
}
.header_text {
  font-size: 18px;
  height: 100px;
  overflow: hidden;
  padding-top: 29px;
  position: static;
  width: 450px;
}
.header_h1 {
  padding-top: 240px;
}
.header {
  background: url("/img/bg/img_header_man.png") no-repeat #efefef;
  position: relative;
}
.header_title {
  padding-left: 180px;
}
.menu {
  display: flex;
  align-items: baseline;
  position: absolute;
  right: 0;
  margin: 39px 39px 0 20px;
}
.menu p {
  text-transform: uppercase;
  font-family: Raleway, serif;
  font-size: 18px;
}
.navigation {
  display: flex;
  flex-direction: column;
  width: 40px;
}
.navigation li:not(.menu_icons) {
  display: none;
  align-self: flex-start;
  justify-content: flex-start;
  padding-top: 15px;
}
.navigation li:not(.menu_icons) a {
  font-family: Raleway, serif;
  font-size: 18px;
  color: #000000;
}
.navigation li:not(.menu_icons) a:hover {
  font-size: 22px;
  transition: all .2s ease;
}
.navigation_items {
  list-style-type: none;
}
.menu_icons {
  align-self: flex-end;
}
.about {
  background-color: #efefef;
}
/* Fonts */
@font-face {
  font-family: 'LMRomanSlant10';
  src: url('/fonts/lmroman/LMRomanSlant10-Regular.woff2') format('woff2'), url('/fonts/lmroman/LMRomanSlant10-Regular.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
