/* Base */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0 auto;
  padding: 50px;
}
.page_wrap {
  width: 100%;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  font-weight: 100;
}
h1 strong {
  font-weight: 700;
}
p.text {
  display: inline-block;
  font-family: 'LMRomanSlant10', serif;
  font-size: 18px;
}
a {
  text-decoration: none;
  height: 100%;
}
.container {
  height: 749px;
  margin-bottom: 50px;
}
.letter_a {
  padding-left: 9px;
  position: absolute;
}
.letter_a img {
  opacity: .05;
}
.letter_o {
  padding-left: 94px;
  position: absolute;
}
.letter_o img {
  opacity: .05;
}
.letter_p {
  padding-left: 94px;
  position: absolute;
}
.letter_p img {
  opacity: .05;
}
.page_wrap {
  width: 1500px;
  margin: 0 auto;
}
.header_text {
  font-size: 18px;
  height: 100px;
  overflow: hidden;
  padding-top: 29px;
  position: static;
  width: 450px;
}
.header_h1 {
  padding-top: 240px;
}
.header {
  background: url("/img/bg/img_header_man.png") no-repeat #efefef;
  position: relative;
}
.header_title {
  padding-left: 180px;
}
.menu {
  display: flex;
  align-items: baseline;
  position: absolute;
  right: 0;
  margin: 39px 39px 0 20px;
}
.menu p {
  text-transform: uppercase;
  font-family: Raleway, serif;
  font-size: 18px;
}
.navigation {
  display: flex;
  flex-direction: column;
  width: 40px;
}
.navigation li:not(.menu_icons) {
  display: none;
  align-self: flex-start;
  justify-content: flex-start;
  padding-top: 15px;
}
.navigation li:not(.menu_icons) a {
  font-family: Raleway, serif;
  font-size: 18px;
  color: #000000;
}
.navigation li:not(.menu_icons) a:hover {
  font-size: 22px;
  transition: all .2s ease;
  display: block;
}
.navigation:hover li {
  display: block;
}
.navigation_items {
  list-style-type: none;
}
.menu_icons {
  align-self: flex-end;
}
.about {
  display: flex;
  background-color: #efefef;
}
.img_photo {
  padding-left: 41px;
  padding-top: 78px;
  width: 625px;
  height: 628px;
}
.line {
  vertical-align: middle;
  padding-right: 40px;
}
.about_text {
  padding-top: 150px;
  padding-right: 195px;
}
.about_text p {
  padding-top: 35px;
}
.social_icons {
  display: flex;
  padding-top: 67px;
}
.social_items {
  background-color: #909090;
  width: 33px;
  height: 33px;
  margin-right: 20px;
  display: flex;
}
.social_items img {
  align-self: center;
  margin: 0 auto;
}
.social_items:hover {
  background-color: #020202;
}
.arrow {
  margin-top: 340px;
  height: 75px;
  width: 75px;
  background-color: #ffffff;
  margin-left: 50px;
  margin-right: 50px;
}
.arrow img {
  display: block;
  margin: 0 auto;
  position: relative;
  height: 32px;
  top: 25%;
}
.arrow:hover {
  background-color: #c6c6c6;
}
.arrowright {
  position: absolute;
  right: 0;
}
.arrowleft {
  position: absolute;
  left: 0;
}
.gallery {
  position: relative;
}
.gallery_photo img {
  display: block;
  margin: 0 auto;
}
.gallery_wrapper {
  overflow: hidden;
  height: 750px;
  width: 1480px;
  margin: 0 auto;
}
.gallery_list {
  list-style: none;
  width: 1480px;
}
/* Fonts */
@font-face {
  font-family: 'LMRomanSlant10';
  src: url('/fonts/lmroman/LMRomanSlant10-Regular.woff2') format('woff2'), url('/fonts/lmroman/LMRomanSlant10-Regular.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
