.arrow {
  margin-top: 340px;
  height: 75px;
  width: 75px;
  background-color: #ffffff;
  margin-left: 50px;
  margin-right: 50px;
}

.arrowright {
  position: absolute;
  right: 0;
}

.arrowleft {
  position: absolute;
  left: 0;
}

.gallery {
  position: relative;
  img {
    margin: 0 auto;
  }
}