* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 50px;
}

.page_wrap {
  width: 100%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  font-weight: 100;
  strong {
    font-weight: 700;
  }
}

p.text {
  display: inline-block;
  font-family: 'LMRomanSlant10', serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  height: 100%;
}

.container {
  height: 749px;
  margin-bottom: 50px;
}

.letter_a {
  padding-left: 9px;
  position: absolute;
  img {
    opacity: .05;
  }
}

.letter_p {
  padding-left: 94px;
  position: absolute;
  img {
    opacity: .05;
  }
}

.page_wrap {
  width: 1500px;
  margin: 0 auto;
}