
.header_text {
  font-size: 18px;
  height: 100px;
  overflow:  hidden;
  padding-top: 29px;
  position: static;
  width: 450px;
}

.header_h1 {
  padding-top: 240px;
}

.header {
  background: url("/img/bg/img_header_man.png") no-repeat #efefef;
  position: relative;
}

.header_title {
  padding-left: 180px;
}