.menu {
  position: absolute;
  right: 0;
  margin: 39px 39px 0 20px;
  p {
    text-transform: uppercase;
  }
  a {
    padding-left: 20px;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  li{
    display: none;
    align-self: flex-end;
    padding-top: 10px;
    a {

    }
  }
}

.navigation_items {
  list-style-type: none;
}